<?xml version="1.0"?><configuration>

 <configSections>
 <sectionGroup name="QQSectionGroup">
 <section name="QzoneSection" type="System.Configuration.NameValueSectionHandler,System, Version=2.0.0.0, Culture=neutral,PublicKeyToken=b77a5c561934e089" />
 </sectionGroup>
 </configSections>
 <QQSectionGroup>
 <QzoneSection>
 <add key="AppKey" value="100393835" />
 <add key="AppSecret" value="5356c1813b13435722354a90c012accb" />
 <add key="CallBackURI" value="http://kelink.com/oauth/qq/CallBack.aspx" />
 <add key="AuthorizeURL" value="https://graph.qq.com/oauth2.0/authorize" />
 </QzoneSection>
 </QQSectionGroup>

	<appSettings>    

    <!--是否只有登录才可以访问网站页面，如需要请下面录入说明，否则留空-->
    <add key="KL_Mast_Login_INFO" value="" />
    
    <!--是否关闭会员活动日志信息(wap_log表)，会生成大量记录，1为关闭，空或0为写入-->
    <add key="KL_CLOSE_LOG_INFO" value="0" />
    
    <!--全局过滤字符-->
    <add key="KL_In" value="select|unicode|ascii|exec|insert|delete|master|truncate|declare|drop|create|eval|xp_|sp_|command|update"/>
   
    <!--KL_In主要配置SQL注入的英文字符，此处的KL_Filter_All是过滤所有中文或其它字符。例：WML或电脑版写代码时是不能过滤KL_In中的字符的，但是要过滤以下非法字符（太多数可能是脚本或过滤广告代码）-->
    <add key="KL_Filter_All" value="display|操蛋|内射"/>

    <!--关闭系统进提示信息，例此系统正在升级，预计几点到几点开放。-->
    <add key="KL_CloseWeb_Tip" value=""/>
    
    <!--游戏六合彩是否关闭，0或空为关闭，1开启，建议关闭防移动封IP！-->
    <add key="KL_Games_Close_MarkSix" value="0"/>
    
    <!--此参数已无效，请强制设为0-->
    <add key="KL_Open_Web" value="0" />
    
    <!--是否开启“网站默认设置”中的[20]选电脑版(ver=3)时跳转[21]选平板电脑版(ver=4)时跳转，1为开，0为关，建议关，防非审核网站转发色站内容的地址-->
    <add key="KL_Open_Redirect" value="0"/>

    <!--显示标题链接UBB:[功能模块标识=N_M_X_Y]中的X=5为随机所有，实际为以下最新多条进行随机，默认100-->
    <add key="KL_OrderByNew" value="100"/>

    <!-- 0 时开启全局防SQL注入； 1 时开启局部防SQL注入-->
    <add key="KL_In_Open" value="1"/>

    <!--session过期时间(分钟)，用于WEB后台，目前手机不太支持！-->
    <add key="KL_SessionTimeOut" value="50" />
    
    <!--防刷新，限制提交数据时间(秒)-->
    <add key="KL_CheckIPTime" value="0" />

    <!--在以下时间(分钟)内不活动的在线人，将会被删除-->
    <!--建议在此设为0，然后在企业管理器作业中定时执行:DELETE FROM fcount WHERE (DATEDIFF(hh, ftime, GETDATE()) > 1)-->
    <add key="KL_DelOnlineTime" value="60" />   
    
    <!--关注微信公共帐号自动注册会员，0开为开启，1为禁止-->
    <add key="KL_Weixin_Reg_Open" value="0" />
    
    
    <!--全局商店提交订单注册会员，0开为关，1为开-->
    <add key="KL_SHOP_REG" value="0" />
    
    
    <!--网站访问详细数据，建议关闭，否则产生大量数据，数据库会暴掉。0为关，1为开-->
    <add key="KL_VisiteCount_Detail" value="0"/> 

    <!--是否要校验每个地址域名绑定1要，0不需要(可提高性能)-->
    <add key="KL_CheckDomain" value="0" />
    
    <!--用域名访问时隐藏后面的参数，1隐藏，0显示-->
    <add key="KL_HiddenQuery" value="1" />
    
    <!--每天只能发多少条贴子，0为不限制-->
    <add key="KL_CheckBBSCount" value="100" />
    
    <!--每天只能发多少条回贴，0为不限制-->
    <add key="KL_CheckBBSreCount" value="200" />
    
    <!--每天只能发多少条站内短信，0为不限制-->
    <add key="KL_SendMSGCount" value="300" />
    
    <!--每天只能发多少条空间留言，0为不限制-->
    <add key="KL_CheckZoneReCount" value="100"/>
    
     <!--每天只能加多少好友，0为不限制-->
    <add key="KL_ADDFriendCount" value="100"/>
    
    <!--登录失败次数限制，防密码被破-->
    <add key="KL_LoginTime" value="0"/>    
   
    <!--WEB后台，网站管理，短信发送功能，每次添加操作时，最多添加多少个短信，默认500。-->
    <add key="KL_SendSMS_Add" value="500"/>

    <!--[优先级0]强制进入WAP2.0-->
    <add key="KL_GoVersion0" value="Opera|SP|QQ|Mini|series"/>
    
		<!--[优先级1]当移动网关不提供UA时将进入WAP1.0，建议留空-->
    <add key="KL_GoVersion1" value=""/>
    
    <!--[优先级2]移动网关提供有UA情况下,进入平版触屏幕,一般留空由界面上选择进入-->
    <add key="KL_GoVersion4" value=""/>
    
    <!--[优先级3]移动网关提供有UA情况下,进入电脑版-->
    <add key="KL_GoVersion3" value="Windows NT|MSIE|Firefox"/>    
    
		<!--[优先级4]移动网关提供有UA情况下，当网站进入不同版本设为自动识别时(0)，有以下UA关键字时进入2.0界面-->
		<add key="KL_GoVersion2" value="Safari|iPhone|ios|Android|Opera|CE|UC|QQ|Phone|Mobile|Mozilla"/>
		

    <!--[优先级1]下载防盗版参数一，1开启防盗功能，不会显示实际地址，文件名还会带上当前域名；0关闭，会显示实际地址。防盗参数，建议设为1-->
    <add key="KL_DownCheck" value="1" />    
    
    <!--[优先级2]下载防盗版参数二，强制判断上一个访问页面(Request.UrlReferrer)是本站的，1开0关。注意手机访问可能取不到此值，请慎用，建义关闭0！-->
    <add key="KL_DownCheckReferrer" value="0" />

    <!--下载是否开启多线程，且开启防盗链后，1开启，0关闭-->
    <add key="KL_DownThread" value="1" />
    
    <!--开启单线程下载后，且开启防盗链后，每秒允许下载的字节数，如102400 =100K-->
    <add key="KL_DownSpeed" value="102400" />
    
    <!--强制不允许上传和下载的扩展名-->
    <add key="KL_NotDownAndUpload" value="ad|adprototype|asa|asax|ascx|ashx|asmx|axd|browser|cd|cdx|cer|compiled|confi|cs|csproj|dd|exclude|idc|java|jsl|ldb|ldd|lddprototype|ldf|licx|master|mdb|mdf|msgx|refresh|rem|resources|resx|sd|sdm|sdmdocument|shtm|shtml|sitemap|skin|soap|stm|svc|vb|vbproj|vjsproj|vsdisco|webinfo|wml|asp|jsp|asa|asax|cer|cdx|htr|php|aspx|shtml|config|exe|mdb" />
    
    <!--设置下载防盗后启用自定义mine类型，程序内置手机常用mine格式了，如果不能下载请自行设置-->    
    <!--注意：如果你下载的地址是URL实际地址，那你需要在主机IIS或空间管理后台添加Mine类型！！！-->
    <!--[优先级1]在下面配置找；[优先级2]在程序内置找；[优先级3]以上找不到默认:application/octet-stream-->
    <!--格式如下，可自行增加-->
    <add key="KL_MINE_3gp" value="video/3gpp" />
    <add key="KL_MINE_sis" value="application/vnd.symbian.install" />
    
    <!--开启防盗链下载时，有些浏览器需要对文件名编码才不会乱码，以下UA下载将对文件名编码-->
    <add key="KL_FileNameURLencode" value="Mozilla|MSIE" />

    <!--当站长在基本信息设置按UA只能手机访问时，以下UA将被允许-->
    <add key="KL_Allow_UA" value="UC|SP" />
    
    <!--当站长在基本信息设置只能手机访问时，以下IP段将被允许，目前只配了移动和联通IP段，其它的请自行加入，格式参考:IP1-IP2|IP3-IP4用-和|区别-->
    <add key="KL_Allow_IP" value="211.103.0.0-211.103.127.255|211.136.0.0-211.143.255.255|218.200.0.0-218.207.255.255|221.130.0.0-221.131.255.255|61.240.0.0-61.243.255.255|61.245.0.0-61.245.127.255|220.192.0.0-220.207.255.255|211.90.0.0-211.97.255.255|121.14.0.0-121.14.255.255" />
    

    <!-- 当系统抛出异常错误信息时，当KL_ShowAllError设为1时，显示所有详细错误，为0时，只显示第一行错误信息-->
    <add key="KL_ShowAllError" value="1" />

    <!-- 开启全文索引，搜索标题，需要专业技术员操作。0关闭，1开启。-->
    <add key="KL_FULLSEARCH_article" value="0" />
    <add key="KL_FULLSEARCH_bbs" value="0" />
    <add key="KL_FULLSEARCH_download" value="0" />
    <add key="KL_FULLSEARCH_picture" value="0" />
    <add key="KL_FULLSEARCH_ring" value="0" />
    <add key="KL_FULLSEARCH_video" value="0" />
    
    <!--关闭第三级页面上一条，下一条显示，可提升性能，加快页面显示,0为开，1为关-->
    <add key="KL_ShowPreNextTitle_bbs" value="0"/>
    <add key="KL_ShowPreNextTitle_download" value="0"/>
    <add key="KL_ShowPreNextTitle_article" value="0"/>

    <!--多用户系统中防止站长过滤系统设置的广告。0关闭，1开启-->
    <add key="KL_Kill_None" value="0"/>
    
    <!--WAP界面注册普通会员验证码:0为文本数字，1为图片数字，手机WAP可能不支持图片session保存数字，但图片数字起到防刷作用-->
    <add key="KL_RegUser_CheckCode" value="0" />
    
    <!--WEB关闭校验码功能,1为关闭,0为开启-->
    <add key="KL_WEB_RegUser_CheckCode" value="0" />

    <!--WAP界面注册站长验证码:0为文本数字，1为图片数字，手机WAP可能不支持图片session保存数字，但图片数字起到防刷作用-->
    <add key="KL_RegSite_CheckCode" value="0" />
    
    <!--主机开启了cdn功能的，取CDN用户真实IP的方法，1为开启,0为默认-->
    <add key="KL_GetIP_FromCDN" value="0" />
    
    <!--WAP管理后台首次进入是否需要密码,0要,1不需要-->
    <add key="KL_WAPAdmin_NeedPassWord" value="0" />

    <!--IP转省市功能，流量统计和天气预报用到，关闭可以优化性能。0为开启,1为关闭-->
    <add key="KL_Close_IPtoCity" value="1" />
    
    <!--bbs论坛模块下载文件时间小于或等于设定值时，下载地址将转向设定的地址。格式:20110830|http://bbs.kelink.com/bbs/  不用留空 -->
    <add key="KL_JUMPURL_bbs" value="" />

    <!--download下载模块下载文件时间小于或等于设定值时，下载地址将转向设定的地址。格式:20110830|http://dl.kelink.com/download/ 不用留空-->
    <add key="KL_JUMPURL_download" value="" />
    
    <!--自定义UBB文字链接的开头地址！如http://kelink.com|http://3g.kelink.com-->
    <add key="KL_URL_FILTER" value="" />

    <!--自定义UBB图片链接的开头地址！-->
    <add key="KL_IMG_FILTER" value="" />
    
    <!--底层审核图片/文件，地址带有upload和uploadfiles目录下文件，1开启,0关闭，此功能需要在IIS属性中添加映射。请联系技术员或看底层文件审核设置帮助文档-->
    <add key="KL_FileCheck" value="1"/>    
    <!--底层防盗，判断Request.UrlReferrer，1开启,0关闭-->
    <add key="KL_FileCheck_UrlReferrer" value="0"/>
    
    <!--是否开启网站缓存功能，1开启,0关闭-->
    <add key="KL_OpenCache" value="0"/>  
    <!--缓存保存多长时间,0不主动清除，1为1小时,2为2小时...-->
    <add key="KL_OpenCacheTime" value="1"/>
    
    <!--注册和修改昵称时是否效验唯一性，0开启；1为关闭，可提高性能-->
    <add key="KL_Check_Repeat_Nickname" value="1" />
    
    <!--开启伪静态地址重写功能，0关闭，1开启，具体配置看《伪静态插件安装说明ISAPI_Rewrite3》下的说明-->
    <add key="ISAPI_Rewrite3_Open" value="0" />

    <!--论坛是否开放游客发贴，0关闭，1开放，优先二在版务，更多栏目属性【11】配置-->
    <add key="KL_BBS_Anonymous_Open" value="0" />

    <!--论坛回复是否开放游客回贴，0关闭，1开放，优先二在版务，更多栏目属性【12】配置-->
    <add key="KL_BBSRE_Anonymous_Open" value="0" />

    <!--文章回复是否开放游客评论，0关闭，1开放，优先级二更多栏目属性【2】配置-->
    <add key="KL_ARTRE_Anonymous_Open" value="0" />

    <!--视频模块回复是否开放游客评论，0关闭，1开放，优先级二更多栏目属性【2】配置-->
    <add key="KL_VIDRE_Anonymous_Open" value="0" />

    <!--图片模块回复是否开放游客评论，0关闭，1开放，优先级二更多栏目属性【1】配置-->
    <add key="KL_PICRE_Anonymous_Open" value="0" />

    <!--铃声模块回复是否开放游客评论，0关闭，1开放，优先级二更多栏目属性【2】配置-->
    <add key="KL_RINRE_Anonymous_Open" value="0" />

    <!--下载模块回复是否开放游客评论，0关闭，1开放，优先级二更多栏目属性【1】配置-->
    <add key="KL_DOWRE_Anonymous_Open" value="0" />

    <!--小说回复是否开放游客评论，0关闭，1开放，优先二在版务，更多栏目属性【12】配置-->
    <add key="KL_NOVRE_Anonymous_Open" value="0" />
    
    <!--============以下参数相反================-->

    <!--留言模块回复是否开放游客评论，0开启，1关闭，优先级二更多栏目属性【1】配置-->
    <add key="KL_GUERE_Anonymous_Open" value="1" />

    <!--留言是否开放游客发表，0开启，1关闭，优先级二更多栏目属性【0】配置-->
    <add key="KL_GUE_Anonymous_Open" value="1" />

    <!--商店是否开放游客评论，0开启，1关闭，优先级二更多栏目属性【0】配置-->
    <add key="KL_SHORE_Anonymous_Open" value="1" />
 

    <!--***********************以下信息很重要，需要安全保密*******************************-->
    
    <!--邮件发送smtp地址,例smtp.qq.com 还需要登录QQ邮箱后台，邮箱设置，帐户，开启IMAP/SMTP服务 -->
		<add key="KL_SMTP_ADRRESS" value="" />
		<!--邮件用户名,例85403498-->
		<add key="KL_SMTP_UID" value="85403498" />
		<!--邮件密码,例12345678-->
		<add key="KL_SMTP_PW" value="12345678" />
		<!--我的邮件地址，上面帐号对应的邮件地址,例85403498@qq.com-->
		<add key="KL_SMTP_EMAIL" value="85403498@qq.com" />

    <!--///////////////////////////全局信息广告内容///////////////////////////-->
    <!--所有网站页面顶部内容，支持UBB-->
    <add key="KL_PAGE_TOP" value=""/>
    <!--所有网站页面底部内容，支持UBB-->
    <add key="KL_PAGE_DOWN" value=""/>
    
    <!--所有非VIP网站页面顶部内容，支持UBB-->
    <add key="KL_PAGE_NOTVIP_TOP" value=""/>
    <!--所有非VIP网站页面底部内容，支持UBB-->
    <add key="KL_PAGE_NOTVIP_DOWN" value=""/>
    
    <!--顶和低部广告css样式名，为空默认:sysad+随机数，但仍可能被高手隐藏，建议改成content，content是显示内容的的样式-->
    <add key="KL_CSS_DIV_SYSAD_Name" value="" />
    
    <!--///////////////////////////数据库配置信息/////////////////////////////-->    
    <!--输入数据库IP或数据库服务名-->
    <add key="KL_SQL_SERVERIP" value="(local)"/>
    <!--输入登录数据库用户名-->
    <add key="KL_SQL_UserName" value="sa"/>
    <!--输入登录数据库密码-->
    <add key="KL_SQL_PassWord" value="888888"/>
    <!--输入主数据库名-->
    <add key="KL_DatabaseName" value="netok"/>
    
    <!--存放历史数据的数据库连接串(可以理解为连接备份数据库)，如论坛bbs/book_list_bak.aspx和bbs/book_view_bak.aspx，体现在版务中，能访问到备份表数据-->
    <!--参数值为：database=1;server=(local);uid=sa;pwd=888888-->
    <add key="KL_BAK_SQLCONN" value="" />
    <!--///////////////////////////数据库结束配置/////////////////////////////-->

    <!--超级管理员的伪验证码，WEB后台登录中“验证码”，WAP后台“第一次需要录入我的密码”需要输入此值，达到更高安全级别。可留空-->
    <add key="KL_CHECKCODE" value=""/>
    
    <!--多用户版，开通所有子站的短信注册功能，此处录入短信通道号码，多个手机号码用|区别，不用留空-->
    <add key="KL_SMS_ALLREG" value=""/>
    <!--上面开通所有子站短信注册，接收地址中的效验码值-->
    <add key="KL_SMS_ALLREG_CheckCode" value=""/>
    <!--如果是用柯林短信拖管，在此录入柯林短信猫产品ID-->
    <add key="KL_SMS_ALLREG_ID" value=""/>
    <!--校验是否来自柯林短信中心,0进行校验,1不校验-->
    <add key="KL_SMS_IS_KELINK" value="1"/>
    

    <!--以下授权码为免费版授权码，如需要正版，请登录柯林官方网站(kelink.com)或授权中心(sms.kelink.com)获取授权码，联系QQ85403498/企业QQ800007757电话13798981178/13048036868-->
    
    <add key="KL_License" value="Y+TEEvFoZDTX2ZN1zQqUc+i23xmFW52Bd5Y37wkqXRJhqR0Dc95m57N7ynXYQCtr6Mu9DQruQoB25Eh6t+a/RjgRFmcD22fntL2auajVkgsgYVA8LK/OnpcAkuPehqaFE5ZPYbDuEoyimPPXLRWYgKIDF3OyehOd9SHMA4ghS0g=se9v+6Rln020DWhvmJTy8HLJQXBmYp26wE2s3a8s87TKDfh1ytd76lFsmnOrqbgArhglXIMdr8gfVDa7vWoUdse+d5HcbOjRDmwFbp8OHPw="/>
    


    <!--以下默认参数不能改-->
    <add key="InstanceName" value="kelinkWAP_Check"/>
   </appSettings>
	<connectionStrings>
     <add name="kelinkWAP_CheckConnectionString1" connectionString="Data Source=ITSERVICE;Initial Catalog=kelinkWAP_Check;Persist Security Info=True;User ID=sa;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot;Microsoft SQL Server Management Studio&quot;"
         providerName="System.Data.SqlClient" />
 </connectionStrings>
	<system.web>
	  <!--.NET4.0请求验证改成.net2.0验证方式
	  <httpRuntime requestValidationMode="2.0"></httpRuntime>
	  -->
	  <!--
	  <globalization fileEncoding='UTF-8' requestEncoding='UTF-8' responseEncoding='UTF-8' culture='zh-CN'/>
	  -->
	  <!--底层审核图片/文件的类型，可自行配置-->
	  <!--
    <httpHandlers>
      <add verb="*" path="*.jpg,*.jpeg,*.gif,*.png,*.bmp,*.3gp" type="KeLink.Com.ImgProtectHadler"/>
    </httpHandlers>
    -->
	  <!--允许上传文件大小及连接超时时间，请自行调节大小-->
    <httpRuntime maxRequestLength="2097151"
	               executionTimeout="300"></httpRuntime>
		<!-- 
            设置 compilation debug="true" 可将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
		<pages validateRequest="false"/>
    <compilation debug="false"> 
		
			<assemblies>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/></assemblies></compilation>
		<!--
            通过 <authentication> 节可以配置 ASP.NET 用来 
            识别进入用户的
            安全身份验证模式。 
        -->
		<authentication mode="Windows"/>
    <!--客户端是否显示详细的错误信息-->
    <customErrors mode="Off"/>
		<!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
   
	</system.web>
	<system.codedom>
	</system.codedom>
	<!-- 
        在 Internet 信息服务 7.0 下运行 ASP.NET AJAX 需要 system.webServer
        节。对早期版本的 IIS 来说则不需要此节。
    -->
	<system.webServer>
	</system.webServer>
</configuration>