html{font-family:SimSun}
body>iframe{opacity:0;display:none;}
input[type="file" i] {
border: 0px;
}
body{margin:0 auto;max-width:720px;box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);line-height:32px;font-family:"SimSun";background-color: #ffffff;}
:root{background-color: #e8e8e8;}
body>iframe{opacity:0;display:none;}
.top{padding:5px;border-bottom:1px solid #1abc9c;background:#e5f3ee;color:#000;font-size:17px;line-height:20px}
.top2{padding:5px;border-bottom:1px solid #1abc9c;background:#e5f3ee;color:#000;font-size:17px;line-height:20px}
.top2 a{padding-right:8px}
.logo{margin-left:6px;margin-top:4px;line-height: 28px;}
.logo img{width:180px;height:61px}
.logo a{display:inline-block}
.logo a:hover{background:url(/tupian/yaohuo.png) no-repeat}
.logo a:hover img{opacity:0;visibility:hidden;-webkit-transform:scale(1.2);-moz-transform:scale(1.2);transform:scale(1.2);-webkit-transition:all .3s;-o-transition:all .3s;-moz-transition:all .3s;transition:all .3s}
img{max-width:100%;border-radius:1px}
a{color:#3d68a8;text-decoration:none;font-size:17px}
a:hover{color:#4f80c7;text-decoration:underline}
a:visited{text-decoration:none;word-break:break-all}
input.ipma{width:100%;background-color:#fdfdfd;color:#000}
textarea.ipmb{width:100%;height:167px;background-color:#fdfdfd;color:#000}
form{display:inline;margin:0}
.list{letter-spacing: .7px;padding:7px;line-height: 33px;}
.line img{width:auto}
.line2{padding:8px;word-break:break-all;background-color:#fbfbfb;}
.line1{padding:8px;word-break:break-all;}
.title{padding:5px;border-bottom:1px solid #1abc9c;background:#e5f3ee;color:#000;font-size:17px;line-height:25px}
.subtitle{padding:5px;border:1px solid #eee}
.subtitle a{padding-right:2px;padding-left:2px}
.welcome{padding:7px 7px;border-top:1px solid #378d8d;border-bottom:1px solid #378d8d;background:#4ba0a0;color:#fdfdfd;text-align:left;text-shadow:0 0 0 #e5f3ee}
.welcome a{color:#fff;padding-right:6px}
.tip{margin:auto;padding-left:5px;border:0;background-color:#f7f7f7;color:#000}
.content{font-size:17px;letter-spacing:.3px;padding:7px;word-break:break-all;line-height: 35.9px;}
.bbscontent{word-wrap:break-word;}
.showpage{margin:auto;padding:5px;background-color:#f0f0f0}
.mylink{margin:auto;padding:5px;border:0;background-color: #f2f2f2;color:#000;}
.nexttitle{padding:5px;background-color:#e5f3ee}
.footer{padding:5px;border-top:#1abc9c 1px solid;background:#f2f2f2;color:#666;text-align:center}
.right{float:right;color:#999;font-size:10px}
.bt1 a:last-child:after,.bt2 a:last-child:after,.bt3 a:last-child:after,.bt4 a:last-child:after,.bt5 a:last-child:after{display:none}
.btBox{padding:4px 0}
.bt1,.bt2,.bt3,.bt4,.bt5{overflow:hidden;margin:0 auto;width:97%;border:1px solid #1abc9c;border-radius:8px;}
.bt1 a{width:100%;color:#555;text-align:center}
.bt2 a{width:50%;color:#555;text-align:center}
.bt3 a{width:33%;color:#555;text-align:center}
.bt4 a{width:25%;color:#555;text-align:center}
.bt5 a{width:20%;color:#555;text-align:center}
.bt1 a,.bt2 a,.bt3 a,.bt4 a,.bt5 a{position:relative;float:left;line-height:30px}
.bt1 a:after,.bt2 a:after,.bt3 a:after,.bt4 a:after,.bt5 a:after{position:absolute;top:0;right:0;width:0;height:37px;border-right:1px solid #1abc9c;content:''}
.bt1 a:hover,.bt2 a:hover,.bt3 a:hover,.bt4 a:hover,.bt5 a:hover{color:#1abc9c}
.bt1 a:last-child:after,.bt2 a:last-child:after,.bt3 a:last-child:after,.bt4 a:last-child:after,.bt5 a:last-child:after{display:none}
input[type=submit]{background-image: linear-gradient(#f4f4f4,#ececec);position:relative;display:inline-block;overflow:visible;margin:0 5px 7px;padding:.5em 1em;outline:0;border:1px solid #d4d4d4;border-radius:.2em;color:#333;text-decoration:none;white-space:nowrap;font:11px/normal sans-serif;cursor:pointer;border-radius:5px;}
input[type=submit]:hover{border-color:#3072b3;background-color:#3072b3;background-image:linear-gradient(#599bdc,#3072b3);color:#fff;text-decoration:none;text-shadow:-1px -1px 0 rgba(0,0,0,.3);border-bottom-color:#2a65a0}
.text{font:18px/1.8 Sans-serif}
.number{font:18px/1.8 Sans-serif;word-break:normal}
.h4{text-align:center;font:20px/2.2 'Microsoft Yahei',Helvetica,Arial,Sans-serif;font-weight:700}
.sch{padding:0 0 2px 5px}
.google{line-height:0;text-align:center}
.dashed{border-bottom:1px dashed #dcdcdc;margin-bottom:15px;margin-top:10px}
.margin-top{margin-top:10px}
.toupiao{border:1px solid #EBEBEB;padding:5px;line-height:50px;margin:15px}
hr{border:0;border-bottom:1px dashed #dcdcdc;margin-bottom:15px;margin-top:15px}
.more{margin:auto;margin-bottom:8px;border-radius:8px;overflow:hidden;width:95%;border:1px solid #eaeaea}
.more a{width:100%;color:#555;text-align:center;position:relative;float:left;line-height:35px}
.more a:hover{color:#4f80c7}
.reline{line-height:40px;padding:8px 0px 10px 0;word-break:break-all}
.content br{line-height:200%;}
.recontent br{line-height:280%;}
.toupiao a{line-height: 58px;margin: 2px;}
.shouye{font-size:17px;letter-spacing: .7px;padding: 5px 7px 5px 7px;}
select {
	border: 1px solid #d4d4d4;
	color: #585858;
	border-radius:7px;
	margin-right:5px;
}
input,textarea{
	outline-color: invert ;
	padding:4px;
	border-width: 2px;
	outline-style: none ;
	outline-width: 0px ;
	border: none ;
	text-shadow: none ;
	-webkit-appearance: none ;
	-webkit-user-select: text ;
	outline-color: transparent ;
	box-shadow: none;
	background-color: transparent;
	border:1px solid #d4d4d4;
	border-radius:8px;
}