BODY {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 1.8; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "ו", "Arial Narrow"; BACKGROUND: #fff; FONT-SIZE: 12px; PADDING-TOP: 10px
}
FORM {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
P {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H1 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H6 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
INPUT {
	LINE-HEIGHT: 16px; FONT-SIZE: 12px
}
SELECT {
	LINE-HEIGHT: 16px; FONT-SIZE: 12px
}
IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
UL {
	LIST-STYLE-TYPE: none
}
LI {
	LIST-STYLE-TYPE: none
}
.tc {
	TEXT-ALIGN: center
}
.tl {
	TEXT-ALIGN: left
}
.tr {
	TEXT-ALIGN: right
}
.dis {
	DISPLAY: block
}
.undis {
	DISPLAY: none
}
.b20 {
	LINE-HEIGHT: 1; HEIGHT: 20px; CLEAR: both; OVERFLOW: hidden
}
.b10 {
	LINE-HEIGHT: 1; HEIGHT: 20px; CLEAR: both; OVERFLOW: hidden
}
.b10 {
	HEIGHT: 10px
}
.fB {
	
}
A {
	COLOR: #004985; TEXT-DECORATION: none
}
A:hover {
	COLOR: #f60; TEXT-DECORATION: underline
}
.hd {
	MARGIN: 0px auto; WIDTH: 960px
}
.ct {
	MARGIN: 0px auto; WIDTH: 960px;
}
.ft {
	MARGIN: 0px auto; WIDTH: 960px
}
.fs {
	MARGIN: 0px auto; WIDTH: 960px
}
.logo {
	WIDTH: 100%; CLEAR: both
}
.menut {
	WIDTH: 628px; FLOAT: right;
}
.menut P {
	TEXT-ALIGN: right; PADDING-RIGHT: 6px; COLOR: #dcdcdc; PADDING-TOP: 1px
}
.menut P A {
	COLOR: #7d7d7d
}
.menut P A:hover {
	COLOR: #f60
}
.menut P.tr {
	MARGIN-TOP: 3px; PADDING-RIGHT: 6px
}
.menu {
	BACKGROUND: url(/NetImages/navbg2.jpg) no-repeat 0px 0px; HEIGHT: 37px
}
.menut P.tr A {
	BACKGROUND: url(/NetImages/navbg2.jpg) no-repeat 0px 0px; HEIGHT: 37px
}
.menu A:hover {
	BACKGROUND: url(/NetImages/navbg2.jpg) no-repeat 0px 0px; HEIGHT: 37px
}
.menu EM {
	BACKGROUND: url(/NetImages/navbg2.jpg) no-repeat 0px 0px; HEIGHT: 37px
}
.faq H2 {
	BACKGROUND: url(/NetImages/navbg2.jpg) no-repeat 0px 0px; HEIGHT: 37px
}
.faq H2.on {
	BACKGROUND: url(/NetImages/navbg2.jpg) no-repeat 0px 0px; HEIGHT: 37px
}
.menut P.tr A {
	PADDING-LEFT: 12px; BACKGROUND-POSITION: -951px -48px; COLOR: #004985
}
.menu A {
	TEXT-ALIGN: center; LINE-HEIGHT: 37px; FONT-STYLE: normal; WIDTH: 83px; DISPLAY: inline; FLOAT: left; HEIGHT: 37px; COLOR: #fff; MARGIN-LEFT: 1px; FONT-SIZE: 14px
}
.menu EM {
	TEXT-ALIGN: center; LINE-HEIGHT: 37px; FONT-STYLE: normal; WIDTH: 83px; DISPLAY: inline; FLOAT: left; HEIGHT: 37px; COLOR: #fff; MARGIN-LEFT: 1px; FONT-SIZE: 14px
}
.menu A:hover {
	BACKGROUND-POSITION: -62px -37px; COLOR: #fff; TEXT-DECORATION: none
}
.menu EM {
	BACKGROUND-POSITION: -62px -37px; COLOR: #fff; TEXT-DECORATION: none
}
.menu A.s {
	WIDTH: 56px; MARGIN-LEFT: 5px
}
.menu EM.s {
	WIDTH: 56px; MARGIN-LEFT: 5px
}
.menu A.s:hover {
	BACKGROUND-POSITION: -5px -37px
}
.menu EM.s {
	BACKGROUND-POSITION: -5px -37px
}
.menu SPAN {
	PADDING-RIGHT: 10px; FLOAT: right
}
.menu SPAN A {
	WIDTH: auto; COLOR: #d0ebf9; FONT-SIZE: 12px
}
.menu SPAN A:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #fff
}
.fs {
	POSITION: relative; HEIGHT: 250px
}
.fs IMG {
	DISPLAY: block
}
.fs SPAN {
	POSITION: absolute
}
.btn {
	POSITION: absolute
}
.fs SPAN.z1 {
	LINE-HEIGHT: 150%; TOP: 116px; FONT-WEIGHT: bold; LEFT: 242px
}
.fs SPAN.z2 {
	LINE-HEIGHT: 150%; TOP: 200px; LEFT: 414px
}
.fs SPAN.z2 A {
	TEXT-DECORATION: underline
}
.fs DIV {
	POSITION: absolute; TEXT-ALIGN: center; WIDTH: 155px; FONT: bold 28px/35px "Microsoft Yahei", Arial; HEIGHT: 35px; TOP: 53px; LEFT: 600px
}
.fs P {
	POSITION: absolute; WIDTH: 238px; COLOR: #5e5e5e; TOP: 10px; RIGHT: 18px
}
.fs P IMG {
	DISPLAY: inline; MARGIN-LEFT: 3px; VERTICAL-ALIGN: middle
}
.fs P A {
	TEXT-DECORATION: underline
}
.fs P A:hover {
	TEXT-DECORATION: none
}
.fs P STRONG {
	COLOR: #000
}
.fs P.t2 {
	TOP: 94px
}
.fs P.t3 {
	TOP: 176px
}
.btn {
	TOP: 184px; LEFT: 236px
}
.ctL {
	WIDTH: 645px;DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 6px
}
.ctR {
	BORDER-BOTTOM: #c8d6da 1px solid; BORDER-LEFT: #c8d6da 1px solid; PADDING-BOTTOM: 20px; WIDTH: 275px; BACKGROUND: #f7f7f7; FLOAT: right; BORDER-TOP: #c8d6da 1px solid; BORDER-RIGHT: #c8d6da 1px solid
}
.ctR1 {
	BORDER-BOTTOM: #c8d6da 1px solid; BORDER-LEFT: #c8d6da 1px solid; PADDING-BOTTOM: 20px; WIDTH: 317px; BACKGROUND: #f7f7f7; FLOAT: left; BORDER-TOP: #c8d6da 1px solid; BORDER-RIGHT: #c8d6da 1px solid
}

.rbox {
	BORDER-BOTTOM: #e5eaec 1px solid; PADDING-BOTTOM: 12px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; COLOR: #5e5e5e; PADDING-TOP: 12px
	font-family:"Arial";font-size:14px;line-height: 150%;text-align:justify;
text-justify:inter-ideograph;
}
.bn {
	BORDER-BOTTOM: medium none
	
}
.rbox H2 {
	COLOR: #000; FONT-SIZE: 14px
}
.go {
	TEXT-ALIGN: right; LINE-HEIGHT: 1
}
.go A {
	PADDING-LEFT: 10px; BACKGROUND: url(/NetImages/dot.gif) no-repeat 0px 4px; TEXT-DECORATION: underline
}
.red {
	COLOR: #f00
}
.link A {
	TEXT-DECORATION: underline
}
.sdAbout {
	BORDER-BOTTOM: #abc3ca 1px dashed; WIDTH: 100%; HEIGHT: 220px; CLEAR: both; PADDING-TOP: 10px
}
.sdAbout P {
	TEXT-INDENT: 26px; COLOR: #606060
}
.sdAbout UL {
	WIDTH: 100%; CLEAR: both; PADDING-TOP: 26px
}
.sdAbout LI {
	TEXT-ALIGN: center; WIDTH: 105px; FLOAT: left; HEIGHT: 40px
}
.sdAbout LI IMG {
	MARGIN: 0px auto; DISPLAY: block
}
.sdAbout LI A {
	TEXT-DECORATION: none
}
.sdAbout LI A:hover {
	COLOR: #f60
}
.product {
	WIDTH: 100%; CLEAR: both
}
.product H2 {
	COLOR: #000; FONT-SIZE: 14px
}
.product LI H2 IMG {
	DISPLAY: inline; FLOAT: none; MARGIN-LEFT: 3px; VERTICAL-ALIGN: middle
}
.product LI {
	MARGIN: 0px 6px; WIDTH: 310px; DISPLAY: inline; FLOAT: left; PADDING-TOP: 43px
}
.product LI IMG {
	FLOAT: left
}
.product LI DIV {
	WIDTH: 252px; FLOAT: right
}
.product LI DIV P {
	LINE-HEIGHT: 180%; TEXT-INDENT: 0px; COLOR: #5e5e5e
}
.faq H2 {
	HEIGHT: 31px
}
.faq H2.on {
	HEIGHT: 31px
}
.faq H2 {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 31px; PADDING-LEFT: 30px; PADDING-RIGHT: 30px; BACKGROUND-POSITION: 0px -109px; MARGIN-BOTTOM: 10px; COLOR: #004985; CLEAR: both; FONT-SIZE: 14px; CURSOR: pointer; PADDING-TOP: 0px
}
.faq H2.on {
	BACKGROUND-POSITION: 0px -78px; CURSOR: auto
}
.faq H2.on SPAN {
	FONT-WEIGHT: normal
}
.faq P {
	PADDING-BOTTOM: 28px; PADDING-LEFT: 28px; PADDING-RIGHT: 28px; DISPLAY: none; COLOR: #707070; FONT-SIZE: 14px; PADDING-TOP: 0px
}
.f12 H2 {
	FONT-SIZE: 12px
}
.orange {
	COLOR: #f39800
}
.t {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 10px
}
.sdList {
	BORDER-BOTTOM: #e5eaec 1px solid; PADDING-BOTTOM: 22px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; CLEAR: both; PADDING-TOP: 8px
}
.sdtxt A {
	TEXT-DECORATION: underline
}
.sdList IMG.ico {
	FLOAT: left; MARGIN-LEFT: 8px
}
.bn {
	BORDER-BOTTOM: medium none
}
.sdtxt H3 {
	COLOR: #000; FONT-SIZE: 14px
}
.sdtxt {
	WIDTH: 528px; DISPLAY: inline; FLOAT: right; COLOR: #5e5e5e; MARGIN-RIGHT: 15px
}
.sdtxt DIV IMG {
	MARGIN-TOP: 6px
}
.list LI {
	PADDING-LEFT: 10px; BACKGROUND: url(/NetImages/g_dot.gif) no-repeat 0px 9px;
}
.list LI A {
	TEXT-DECORATION: underline
}
.ab {
	PADDING-BOTTOM: 16px; COLOR: #707070
}
.ab P {
	TEXT-INDENT: 26px; PADDING-TOP: 10px
}
.docmentBox {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 340px; BACKGROUND: url(/NetImages/iphone.gif) no-repeat left 30px; BORDER-TOP: #abc3ca 1px dashed; PADDING-TOP: 30px
}
.docmentBox2 {
	PADDING-BOTTOM: 5px; BORDER-TOP: #abc3ca 1px dashed; PADDING-TOP: 5px;font-family:"Arial";font-size:14px;line-height: 150%;text-align:justify;
text-justify:inter-ideograph;
}
.docmentBox .list {
	MARGIN-TOP: 10px;
}
.docmentBox .list LI {
	WIDTH: 240px; FLOAT: left; FONT-SIZE: 14px
}
TABLE.sb {
	BORDER-COLLAPSE: collapse
}
.sb TD {
	BORDER-BOTTOM: #95b3d7 1px solid; BORDER-LEFT: #95b3d7 1px solid; PADDING-BOTTOM: 0.2em; PADDING-LEFT: 0.5em; PADDING-RIGHT: 0.2em; BORDER-TOP: #95b3d7 1px solid; BORDER-RIGHT: #95b3d7 1px solid; PADDING-TOP: 0.2em
}
.left {
	BORDER-BOTTOM: #abc3ca 1px solid; BORDER-LEFT: #abc3ca 1px solid; WIDTH: 272px; DISPLAY: inline; MARGIN-BOTTOM: 10px; BACKGROUND: url(/NetImages/trustapp.gif) #f0f5f8 no-repeat left 73px; FLOAT: right; HEIGHT: 185px; BORDER-TOP: #abc3ca 1px solid; BORDER-RIGHT: #abc3ca 1px solid
}
.left P {
	PADDING-BOTTOM: 20px; LINE-HEIGHT: 26px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; COLOR: #004985; PADDING-TOP: 20px
}
.left P A {
	COLOR: #004985; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
.left P A:hover {
	TEXT-DECORATION: none
}
.selectBox {
	Z-INDEX: 9; MARGIN: 0px auto; WIDTH: 960px
}
.searchBox {
	Z-INDEX: 9; MARGIN: 0px auto; WIDTH: 960px
}
.selectBox {
	Z-INDEX: 10; POSITION: relative; HEIGHT: 25px
}
.sebg {
	WIDTH: 128px; BACKGROUND: url(/NetImages/sebg.gif) no-repeat; FLOAT: left; HEIGHT: 25px
}
.sebg INPUT {
	MARGIN-TOP: 2px; VERTICAL-ALIGN: middle
}
.sebg IMG {
	MARGIN-TOP: 2px; VERTICAL-ALIGN: middle
}
.sebg INPUT {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; PADDING-LEFT: 2px; WIDTH: 90px; PADDING-RIGHT: 2px; BACKGROUND: #fff; MARGIN-LEFT: 9px; FONT-SIZE: 12px; BORDER-TOP: medium none; FONT-WEIGHT: bold; BORDER-RIGHT: medium none; PADDING-TOP: 4px
}
.sebg IMG {
	MARGIN-LEFT: 5px; CURSOR: pointer
}
.searchBox {
	PADDING-TOP: 3px
}
.searchBox SPAN {
	MARGIN-TOP: -5px; FLOAT: right
}
.searchBox SPAN INPUT {
	VERTICAL-ALIGN: middle
}
.searchBox SPAN INPUT.si {
	BORDER-BOTTOM: #abc3ca 1px solid; BORDER-LEFT: #abc3ca 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; WIDTH: 114px; PADDING-RIGHT: 2px; BACKGROUND: #fff; BORDER-TOP: #abc3ca 1px solid; BORDER-RIGHT: #abc3ca 1px solid; PADDING-TOP: 2px
}
.searchBox SPAN INPUT.btns {
	BORDER-BOTTOM: medium none; TEXT-ALIGN: center; BORDER-LEFT: medium none; WIDTH: 51px; BACKGROUND: url(/NetImages/btns.gif) no-repeat; HEIGHT: 23px; COLOR: #07761e; MARGIN-LEFT: 3px; BORDER-TOP: medium none; CURSOR: pointer; FONT-WEIGHT: bold; BORDER-RIGHT: medium none
}
.searchBox .or {
	COLOR: #f60
}
.menuinfo {
	POSITION: absolute; WIDTH: 193px; TOP: 30px; LEFT: -2px
}
.menuinfo P.t {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: url(/NetImages/tinfo.gif) no-repeat 50% top; HEIGHT: 14px; OVERFLOW: hidden; PADDING-TOP: 0px
}
.menuinfo .b {
	BACKGROUND: url(binfo.png) no-repeat 50% top; HEIGHT: 13px
}
.incon {
	MARGIN-TOP: -1px; WIDTH: 193px; BACKGROUND: url(/NetImages/bginfo.gif) repeat-y; CLEAR: both
}
.incon P {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; PADDING-TOP: 0px
}
.incon UL {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; PADDING-TOP: 0px
}
.incon P {
	COLOR: #004985
}
.incon LI {
	LINE-HEIGHT: 2; COLOR: #878787
}
.incon LI A {
	COLOR: #358d47; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.incon LI A:hover {
	COLOR: #f60
}
.pages {
	TEXT-ALIGN: center; PADDING-BOTTOM: 10px; MARGIN: 0px auto; PADDING-LEFT: 0px; WIDTH: 960px; PADDING-RIGHT: 0px; COLOR: #808080; PADDING-TOP: 15px
}
.pages {
	FONT-SIZE: 16px; FONT-WEIGHT: bold
}
.pages A {
	FONT-SIZE: 16px; FONT-WEIGHT: bold
}
.pages A:hover {
	COLOR: #f60
}
.productBox {
	MARGIN: 0px auto; WIDTH: 976px
}
.productBox LI {
	POSITION: relative; MARGIN: 15px 8px; WIDTH: 228px; DISPLAY: inline; BACKGROUND: url(/NetImages/skinbg.gif) no-repeat; FLOAT: left; HEIGHT: 272px
}
.productBox LI IMG.ico {
	Z-INDEX: 1; POSITION: absolute; TOP: -2px; RIGHT: -2px
}
.productBox LI H2 {
	PADDING-BOTTOM: 5px; LINE-HEIGHT: 1; MARGIN: 0px auto; PADDING-LEFT: 0px; WIDTH: 166px; PADDING-RIGHT: 0px; PADDING-TOP: 5px
}
.productBox LI P {
	PADDING-BOTTOM: 5px; LINE-HEIGHT: 1; MARGIN: 0px auto; PADDING-LEFT: 0px; WIDTH: 166px; PADDING-RIGHT: 0px; PADDING-TOP: 5px
}
.productBox LI H2 {
	Z-INDEX: 9; POSITION: relative; PADDING-BOTTOM: 4px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; PADDING-TOP: 20px
}
.productBox LI P SPAN {
	FLOAT: right; COLOR: #004985; CURSOR: pointer; TEXT-DECORATION: underline; PADDING-TOP: 10px
}
.productBox LI P.g {
	COLOR: #959595
}
.productBox LI P IMG {
	CURSOR: pointer
}
.productBox LI P INPUT.loadBtn {
	BORDER-BOTTOM: medium none; TEXT-ALIGN: center; BORDER-LEFT: medium none; LINE-HEIGHT: 30px; WIDTH: 100px; BACKGROUND: url(/NetImages/download_btn.gif) no-repeat; HEIGHT: 30px; BORDER-TOP: medium none; CURSOR: pointer; FONT-WEIGHT: bold; BORDER-RIGHT: medium none
}
.diyBox {
	MARGIN: 0px auto; WIDTH: 960px; BACKGROUND: url(/NetImages/sdbg07.jpg) no-repeat center 50%; HEIGHT: 336px
}
.diyL {
	MARGIN-TOP: 29px; WIDTH: 460px; DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 236px
}
.diyL H4 {
	PADDING-BOTTOM: 8px; FONT-SIZE: 14px
}
.diyR {
	BORDER-BOTTOM: #d6e0e3 1px solid; BORDER-LEFT: #d6e0e3 1px solid; PADDING-BOTTOM: 12px; LINE-HEIGHT: 2; MARGIN-TOP: 29px; PADDING-LEFT: 12px; WIDTH: 190px; PADDING-RIGHT: 12px; DISPLAY: inline; BACKGROUND: #fff; FLOAT: right; COLOR: #666; BORDER-TOP: #d6e0e3 1px solid; MARGIN-RIGHT: 26px; BORDER-RIGHT: #d6e0e3 1px solid; PADDING-TOP: 12px
}
.diyR STRONG {
	COLOR: #000
}
.diyR A {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #008000; FONT-SIZE: 16px; FONT-WEIGHT: bold
}
.diyR A:hover {
	COLOR: #f60
}
.productBox:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; CONTENT: ""
}
.pages:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; CONTENT: ""
}
.sdList:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; CONTENT: ""
}
.docmentBox:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; CONTENT: ""
}
.productBox {
	MARGIN-TOP: -6px
}
.productBox LI A {
	COLOR: #959595
}
.changecon {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 18px; PADDING-RIGHT: 18px; PADDING-TOP: 0px
}
.c {
	TEXT-ALIGN: center; PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 10px
}
.h3 {
	BORDER-BOTTOM: #dde7ea 1px solid; LINE-HEIGHT: 32px; MARGIN-BOTTOM: 7px; HEIGHT: 32px; COLOR: #004985; FONT-SIZE: 14px
}
.bg {
	Z-INDEX: 99; POSITION: absolute; FILTER: alpha(opacity=80); WIDTH: 100%; BACKGROUND: #000; HEIGHT: 1580px; TOP: 0px; LEFT: 0px; opacity: 0.8; -moz-opacity: 0.8
}
#lay {
	Z-INDEX: 100; POSITION: fixed; MARGIN-TOP: -272px; WIDTH: 682px; TOP: 50%; RIGHT: 50%; MARGIN-RIGHT: -341px
}
.lay {
	BORDER-BOTTOM: #353535 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #353535 1px solid; PADDING-BOTTOM: 20px; MARGIN: 0px auto; WIDTH: 682px; BACKGROUND: #fff; BORDER-TOP: #353535 1px solid; BORDER-RIGHT: #353535 1px solid
}
.lay .title {
	LINE-HEIGHT: 40px; FONT-SIZE: 14px
}
.lay .title A {
	FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.erro {
	MARGIN: 10px 10px 0px 0px; FLOAT: right; CURSOR: pointer
}
.wraper {
	POSITION: relative; PADDING-BOTTOM: 10px; MARGIN: 0px auto; WIDTH: 960px
}
.wraper IMG {
	VERTICAL-ALIGN: top
}
.pos {
	POSITION: absolute; WIDTH: 780px; TOP: 206px; LEFT: 86px
}
.pos P {
	TEXT-ALIGN: right; PADDING-TOP: 8px
}
.pos TD {
	PADDING-BOTTOM: 3px; LINE-HEIGHT: 1.8; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #7d0000; FONT-SIZE: 14px; VERTICAL-ALIGN: top; PADDING-TOP: 3px
}
.pos THEAD TD {
	COLOR: #f8b551; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.pos P A {
	COLOR: #7d0000
}
.ft {
	PADDING-BOTTOM: 12px; PADDING-LEFT: 12px; WIDTH: 936px; PADDING-RIGHT: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif; BORDER-TOP: #c8d6da 1px solid; PADDING-TOP: 12px
}
.ft SPAN {
	FLOAT: right
}
.ft A {
	TEXT-DECORATION: underline
}
